* {
    text-decoration: none !important;
}
.container-fluid header nav ul li a{
    color: rgb(255, 255, 255) !important;
    /* text-decoration: none!important; */
}
/* la parte del main */

.texto{
   
    background-color:transparent;
    /* border: solid black; */
    border-radius: 15px;
    text-align: right;
    width: 35%;
    position:relative;
    top: 200px;
    margin-left: 750px; 
    color: #fff;
}
.caja1{
    padding-top: 0%;
    padding-bottom: 0%;
    margin-top:-230px;
    /* margin-bottom: -10px; */
}
.text {
    
    color: rgb(168, 11, 11);
    padding-top: -10px;
    font-size: 21px;
    border-radius: 20px;
    text-align:right;
    /* word-wrap: break-word; */
}
#footer-menu {

    width: 100%;
    height: 100px;
    background-color: #1d465c;
    color: white;
    /* text-decoration: none; */
}

.contenedor-menu-footer{  /* este es el del menu posta */
    
    /* margin: 0 10px;  */
    padding-top:  2%;
    display: flex; 
    justify-content:space-between;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    background-color: #1d465c;
    color: white;
    height: 10px;
    line-height: 20px; 
} 

/* Color de fondo del menu */
 .container-fluid{
    display:flex;
    justify-content: flex-start;
    background-color: #353a40;
    margin-top: -10px;
    margin-bottom: -10px;
    height: 80px;
    text-decoration: none; 
} 
.navbar-light .navbar-brand {
    color: #ffffff;
}
.nav.justify-content-end{
    color: #ffffff;
}
.navbar-brand{
    float: left;
    position: absolute;
    left: 190px;
    margin-bottom: 20px;
}
.navbar.navbar-expand-lg.navbar-light.bg-light.sticky-top{
    display: flex;
    justify-content:flex-start;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

/* color de la fuente del menu */
nav ul li a{
    /* color: #fff !important; */
    font-size: 16px;
    padding: 0px 13px; 
} 
/* espacio en el group card */
.col-4 {
    flex: 0 0 auto;
    width: 30%;  
}
/* contenedor del group card */
.container{
    /* display: flex; */
    /* justify-content: center; */
    padding-left: 10%;
}
.footer-menu{
    text-decoration: none;
}
.calle{
    display: flex;
    margin-top: -135px;
    filter:brightness(0.4);
   
}
.div.container-fluid{
    display: flex;
    margin-left: -20px;
}
.logo{
    margin-left: 80px;
    margin-bottom: 10px;
}
